<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * NavinDBhudiya ProductRecommendation
 *
 * Unit test suite. Run via dev/demo/run-tests.sh (which uses dev/demo/phpunit-launcher.php
 * to work around the host's PHPUnit 10 / Magento exclude-from-classmap incompatibility).
 *
 * @license MIT License
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="NavinDBhudiya_ProductRecommendation_Unit_Tests">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../../Helper</directory>
            <directory suffix=".php">../../Service</directory>
            <directory suffix=".php">../../Model</directory>
            <directory suffix=".php">../../Observer</directory>
            <directory suffix=".php">../../Plugin</directory>
            <directory suffix=".php">../../Console</directory>
            <directory suffix=".php">../../Cron</directory>
        </include>
        <exclude>
            <directory>../../Test</directory>
            <directory>../../Setup</directory>
        </exclude>
    </source>
    <php>
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <ini name="xdebug.max_nesting_level" value="200"/>
    </php>
</phpunit>
